
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Book Finder</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="container" id="app">
      <h3 class="text-center">Book Finder</h3>
      <p> <!--v-modelでフォームとバインディング-->
        
        Search：<form v-on:submit.prevent="getResult(query)">
              <input type="text" placeholder="Type in your search" v-model="query" />
          </p>
          <div class="search-results">
              <div class="results" v-for="item in items">
                
                <div class="card_title">    
                  <p>{{item.volumeInfo.title}}</p>
                </div>
                
            <div class="book_info"> 
                <img class="book_image" v-bind:src="item.volumeInfo.imageLinks.thumbnail" />
              <div class="book_details">
                  <p class="detail">Author(s):</p>    
                    <p>{{item.volumeInfo.authors}}</p>
                  
                   <p class="detail">Publisher:</p>    
                    <p>{{item.volumeInfo.publisher}}</p>
                </div>
              </div>
                  <div class="book_button">
                    <a v-bind:href="item.volumeInfo.previewLink" class="waves-effect waves-light btn" target="_blank">show detail</a>
                  </div>
              </div>
            </div>
      </div>
  </div>
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>
  </body>
  
</html>






