
.book{
    float:left;
    width:40%;
    height:300px;
    margin-left:20px;
    margin-bottom:30px;
}



.book_title{
    text-align:center;
    font-size:15px;
    border-bottom: solid 3px #D3D3D3;
}

.container{
    height:100%;
}


.book_image{
    position:absolute;
    padding-top:5px;
    padding-left:10px;
    width:200px;
    height:250px;
    float:left;
}

.book_details{
    position:absolute;
    top:0;
    right:0;
}




@media screen and (max-width: 767px){
    
.results{
    width:80%;
    margin: 5% 10%;
}
    
    
    
    
}