



.card{
    width:45%;
    height:350px;
    float:left;
    margin:10px;

}

.card-title{
    text-align:center;
    font-size:20px;
    border-bottom: solid 3px #D3D3D3;
}


.card-thumbnail{
    position:absolute;
    
    width:40px;
    height:40px;
}

