
.card-wrapper{
    overflow: hidden;
}


.card{
    width:45%;
    height:350px;
    float:left;
    margin:10px;

}

.card-title{
    text-align:center;
    font-size:15px;
    border-bottom: solid 3px #D3D3D3;
}


.card-thumbnail{
    float: left;
    position:absolute;
    padding-top:5px;
    padding-left:30px;
    width:40px;
    height:40px;
    clear:both;
}

.book-info{
    overflow: hidden;
}

